{% extends "index.html" %}

{% block htmltitle %}
  {% if section.title %}
    {{ section.title }} |
  {% endif %}
{% endblock htmltitle %}

{% block content %}

  {% set children = [
  page
  for page in section.pages
  if not page.date
  ] %}

  {% set children = [
    ...children,
    ...[
      get_section(path=s)
      for s in section.subsections
    ]
  ] %}

  {% if children %}
    {{ <breadcrumbs ancestors={section.ancestors} title={section.title} /> }}
  {% endif %}

  {% if children or section.content %}
    <article>
      {% if section.content %}
        {{ section.content | safe }}
      {% endif %}

      {% if children %}
        <nav aria-label="Sub-pages">
          <ul>
            {% for page in children | sort(attribute="title") %}
              <li><a href="{{ page.permalink }}">
                {{ page.title }}
              </a></li>
            {% endfor %}
          </ul>
        </nav>
      {% endif %}
    </article>
  {% endif %}
  
  {% if [p for p in section.pages if p.year is defined] %}
    <nav aria-label="Archive list">
      {% set map = [p for p in section.pages if p.year is defined] | group_by(attribute="year") %}
      {% set_global years = [] %}
      {% for year, ignored in map %}
        {% set_global years = [...years, year] %}
      {% endfor %}
      {% for year in years | sort | reverse %}
        {% set pages = map[year] %}
        <h2 class="archive">{{ year }}</h2>
        <ul class="archive">
          {% for page in pages %}
            <li>
              <time datetime="{{page.date}}">{{ <format_date_no_year date={page.date} /> }}</time>
              <a href="{{ page.permalink }}">
                {{ page.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endfor %}
    </nav>
  {% endif %}

{% endblock content %}
